table ,td{
    border: 1px solid black;
    border-collapse: collapse
  }
  table {
    margin: auto;
    margin-bottom: 10pt;
    margin-top: 100px
  }
  #Penjumlah {
    margin-left: 50%;
    margin-right: 50%;
  }
  #Penjumlah,button {
    width: 100pt;
  }
  tabel,img{
    margin: 10px 10px 10px 10px;
    width: 50px;
    height: 50px;
  }
  tabel,p{
    margin: 10px 10px 10px 10px;
  }
  tabel,button{
    margin: 10px 10px 10px 10px;
  }